
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
  background-color: rgb(255, 225, 202);
  color: rgb(45, 34, 250);
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}
.container{
  background: linear-gradient(3deg, #0a0a0a, #3a4452);
  
  margin:40px;
  padding: 50px;
  border-radius: 25px;
  height: auto;
  width: auto;
  
}
.title{
  margin-top: 0px;
  text-align: center;
}

.title span{
  color: yellow !important;
}

.status-action{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  font-size: 22px;
  height: 30px;
}
.status span{
  color: yellow;
}

.reset{
  cursor: pointer;
}

.reset:hover{
  color: #ffffff;
}

.game-grid{
  
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
  margin-top: 30px;
  
}

.game-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 19%;
  height: 100px;
  width: 100px;
  width: 100px;
  background-color: #3a4452;
  box-shadow: -5px -6px 15px rgb(39, 38, 38);
  cursor: pointer;
}

.X::after{
  content: '×';
  font-size: 120px;
}
.O::after{
  content: '○';
  color: yellow;
  font-size: 125px;
}
.won::after{
  color: orange;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 150px;
  }

  .o::after {
    font-size: 175px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 125px;
  }
}

a{
  color:black;
}

.fa-linkedin{
  color: white;
}

.fa-github{
  color: white;
}
.fa-youtube{
  color: white;
}

.fa-linkedin:hover{
  color: rgb(33, 118, 183);
}
.fa-github:hover{
  color: orange;
}
.fa-youtube:hover{
  color: rgb(233, 18, 18);
}
.cp{
  justify-content: center;
  text-align: center;
  font-size: 12px;
    color: #f2ebd3;
}
.fa {
    justify-content: center;
    margin-top: 15px;
  padding: 15px;
  font-size: 5px;
  width: 50px;
  text-decoration: none;
}
.cp{
  color: white;
}
footer{
  justify-content: center;
  text-align: center;
}
